@import './reset.css';


.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
    background-color: #000000;
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  
  
  
  .bigbox {
    width: 80%;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
  }
  
  
  .text, .button {
    height: 50px;
    padding: 0 20px;
    border-radius: 6px;
    letter-spacing: 0.9px;
    color: #fff;
  }
  
  .text {
    width: 350px;
    margin-right: 20px;
    background-color: #010;

  }
  
  .button {
    background-color: #010;
    font-weight: 700;
    width: 120px;
    font-size: larger;
  }
 
  
  
  .output {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
  }
  
  .output div {
    background-color: #010;
    color: #fff;
    text-align: left;
  }
  
  .word {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #fff;
  }